
body {
	color: #64572a;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: 300;
	background-color: #ECE4D0;
}

.tm-bg-img-header {
	background-image: url('../img/Dinosour.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}

a { color: #196d92;  }
a, button { transition: all 0.3s ease; }
button:focus { outline: none; }
a:hover,
a:focus,
.nav-link.active {
	color: #64572a;
	text-decoration: none;
	outline: none;
}

.container { max-width: 1040px; }

/* Sticky header
--------------------------*/
.tm-header-container {
	position: relative;
	padding-bottom: 6rem;
	margin-bottom: 10%;
}

@media (max-width: 991px) {
	.tm-header-container { margin-bottom: 5%; }
}

.tm-navbar-row { z-index: 1000; }
.tm-navbar-row.sticky .navbar {	padding: 0; }
.tm-navbar-row.sticky .nav { font-size: 1.6rem; }

@media (min-width: 768px) {
	.tm-navbar-row { height: 88px; }
	.tm-navbar-row-absolute {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.tm-navbar-row.sticky {
		position: fixed;
		top: 0;
		font-size: 0.6em;
		height: 54px;
		background-color: rgba(235, 222, 180, 0.86);
	}
}

@media (max-width: 767px) {

	.navbar { padding: 0; }

	.tm-navbar-rounded { border-radius: 10px; }

	.tm-header-container {
	    padding-bottom: 3%;
	    margin-bottom: 5%;
	}
}

/* 1. Site header
--------------------------*/
.tm-site-title {
    color: #fffeff;
    text-shadow: 0px 2px 2px rgb(146, 109, 46);
    font-family: 'Times New Roman', Georgia, sans-serif;
    font-size: 4.4rem;
    margin-top: 10rem;
    margin-bottom: 1.5rem;
}

.tm-site-description {
	font-size: 2rem;
	margin-bottom: 4rem;
}

/* 2. Navigation
-------------------------*/
.nav {
	display: inline-block;
	font-size: 1.6rem;
	overflow: auto;
}

.navbar-nav .nav-link {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media (max-width: 991px) and (min-width: 767px) {
	.nav { font-size: 1.6rem; }
	.navbar-nav .nav-link {
	    padding-left: 1.5rem;
	    padding-right: 1.5rem;
	}
}

@media (max-width: 767px) {
	.nav { font-size: 1.6rem; }

	.navbar-nav .nav-item+.nav-item { margin-left: 0; }
}


/* 3. Icon and text 2 column block
---------------------*/
#tm-section-1 {	padding-top: 5rem; }

@media (max-width: 767px) {
	#tm-section-1 { padding-top: 5%; }
}

.tm-2-col-img-text {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 2.5%;
	padding-top: 2.5%;
	overflow: auto;
}

.tm-2-col-img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4%;
}

.tm-2-col-text {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 8%;
}

.tm-2-col-text-title {
	font-size: 2rem;
    margin-bottom: 20px;
}

.tm-2-col-text-description {
	font-weight: 300;
    line-height: 1.8;
    margin-bottom: 6%;
    width: 100%;
}

/* 3. Icon and text 2 column block
----------------------------------------*/
@media (max-width: 1600px) {
	.tm-2-col-text {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media (max-width: 1320px) {
	.tm-2-col-text {
		padding-left: 3%;
		padding-right: 3%;
	}

	.tm-2-col-text-description {
		line-height: 1.6;
		margin-bottom: 4%;
	}
}

@media (max-width: 991px) {
	.tm-2-col-img-text { display: block; }

	.tm-2-col-text {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	.tm-2-col-text-title {
	    font-size: 1.8rem;
	    margin-bottom: 1rem;
	}

	.tm-2-col-text-description {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
	}
}

@media (max-width: 480px) {
	.tm-2-col-text { padding: 10% 0; }
}

/* 4. Plans
---------------*/
.tm-section {
	padding-top: 7rem;
	padding-bottom: 6rem;
}

#tm-section-4 { padding-top: 6rem; }

.tm-section-title {
	font-size: 2.25rem;
	margin-bottom: 1.8rem;
}

.tm-section-subtitle {
	max-width: 800px;
	margin: 0 auto 5rem;
}

/* 5. footer
--------------*/
.tm-footer { margin-top: 15rem; }
.tm-copyright-text {
	color: #655623;
	font-size: 1.3rem;
	padding-top: 3%;
	padding-bottom: 3%;
}

@media (max-width: 767px) {
	.tm-footer { margin-top: 8rem; }
}
